.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--mint);
  width: fit-content;
  height: fit-content;
  min-width: 100px;
  min-height: 2rem;
  border-radius: 0.15rem;
  margin: 0 0.15rem;
  background-color: var(--green);
}
.button:hover {
  background-color: var(--darkgreen);
}
.button button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: transparent;
}
.button button:focus {
  outline: none;
}
.disabled {
  background-color: var(--darkgreen) !important;
  cursor: not-allowed;
}
.loading {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
