.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;
  background-color: white;
}

@media only screen and (min-width: 1500px) {
  .page {
    width: 80vw;
    margin: 1rem 0;
    box-shadow: 0 0 5px 0 #ccc;
  }
}
.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 100%;
  > div {
    padding: 10px;
  }
}
.inputFields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  form {
    width: auto;
    display: grid;
    grid-template-rows: 2rem auto;
    grid-template-areas:
      'label label'
      'input button';
    grid-column-gap: 10px;
    label {
      grid-area: label;
      font-size: 16px;
      font-weight: bold;
    }
    input {
      grid-area: input;
    }
    button {
      width: 100px;
      grid-area: button;
    }
  }
}

.list {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  border: 1px solid #ccc;
  height: 100%;
}
.card {
  display: block;
  text-align: center;
  height: fit-content;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  overflow: auto;
  text-overflow: clip;
  p {
    font-size: 1.5rem;
  }
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  > div {
    cursor: pointer;
  }
  > div:first-child {
    color: #023047;
  }
  > div:nth-child(2) {
    color: #dd2e44;
  }
}
.editModal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: fade(black, 50%);
  z-index: 101;
  > div {
    position: relative;
  }
  > span {
    color: white;
    font-size: 2rem;
    position: absolute;
    right: -30px;
    top: -20px;
    cursor: pointer;
  }
  .inputFields {
    background-color: white;
    padding: 1rem;
  }
}
