.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 450px;
  border-radius: 4px;
  background-color: hsl(0, 0%, 99%);
  box-shadow: 0 0 1rem 2px hsla(0, 0%, 0%, 0.4);
}
.modal > header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 4px 4px 0 0;
  background-color: var(--background-color);
}
.modal > header h1 {
  color: var(--primary-color);
}
.modal > header span {
  position: absolute;
  right: -0.75rem;
  top: -0.75rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}
.form form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
}
.form form > div {
  width: 100%;
  margin: 0.25rem 0;
}
.form form > div label {
  font-weight: 500;
  font-size: 1.1rem;
}
.error > span:first-child {
  font-size: 14px;
  color: red;
}
.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.divider::after,
.divider:before {
  display: flex;
  content: '';
  height: 0;
  width: fit-content;
  position: relative;
  border-top: 1px solid hsla(0, 0%, 0%, 0.4);
}
.divider::before {
  flex-grow: 1;
}
.divider::after {
  flex-grow: 1;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
}
.options button {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1rem;
  color: hsla(0, 0%, 0%, 0.8);
}
.options button:hover {
  text-decoration: underline;
}
.google {
  width: 40%;
  margin-top: 1rem;
  cursor: pointer;
}
.google > img {
  width: 100%;
  height: fit-content;
}
