.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.form > header {
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding: 0.25rem;
  background-color: #023047;
  color: #ffb703;
}
.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.form form button {
  margin: 0.5rem;
}
.form form > button:nth-child(3) {
  background-color: white;
  box-shadow: 0 0 8px 0 #ccc;
}
