.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 450px;
  background-color: hsl(0, 0%, 99%);
  box-shadow: 0 0 1rem 2px hsla(0, 0%, 0%, 0.4);
}
.modal > header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 4px 4px 0 0;
  background-color: var(--background-color);
}
.modal > header h1 {
  color: var(--primary-color);
}
.modal > header span {
  position: absolute;
  right: -0.75rem;
  top: -0.75rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
}
.form form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
}
.form form > div {
  width: 100%;
  margin: 0.25rem 0;
}
.form form > div label {
  font-size: 1.1rem;
  font-weight: 500;
}
.form form > span:nth-child(2) {
  color: red;
  font-weight: bold;
}
.form form button {
  margin: 0.5rem;
}
.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.divider::after,
.divider:before {
  display: flex;
  content: '';
  height: 0;
  width: fit-content;
  position: relative;
  border-top: 1px solid hsla(0, 0%, 0%, 0.4);
}
.divider::before {
  flex-grow: 1;
}
.divider::after {
  flex-grow: 1;
}
@media (max-width: 768px) {
  .modal {
    width: 90%;
  }
}
