.sidebar {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: white;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 15vw;
  height: fit-content;
}
.sidebar a {
  color: #21209c;
}
.sidebar a li {
  display: flex;
  justify-content: center;
  padding: 20px;
  transition: all 0.1s;
  cursor: pointer;
}
.sidebar a li:hover {
  background-color: #023047;
  color: #ffb703;
}
.selected li {
  font-size: 16px;
  font-weight: 500;
  background-color: #023047;
  color: #ffb703;
}
