.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: transparent;
  margin: 1rem 0;
}
@media only screen and (min-width: 1500px) {
  .page {
    width: 80vw;
  }
}
.content {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 90%;
  background-color: transparent;
}
.empty {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  height: 70vh;
}
.cart,
.orderSummary {
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-shadow: 0px 0px 10px 0px #ccc;
  background-color: white;
}
.cart > header,
.orderSummary > header {
  font-size: 1.3rem;
  font-weight: bold;
  color: #023047;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}
.cart {
  top: 16vh;
  max-height: 80vh;
  overflow-y: scroll;
  margin-bottom: 1rem;
}
.cart::-webkit-scrollbar {
  display: none;
}
.item {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  padding: 0.25rem;
  border-bottom: 1px solid #ccc;
}
.item .product {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  height: 80%;
  padding: 0 1rem;
}
.item .product > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-left: 1rem;
}
.item .controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  height: fit-content;
}
.item .controls button {
  width: fit-content;
  padding: 0.5rem 0.75rem;
}
.item .controls > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 50%;
}
.item .controls > div:nth-child(2) {
  justify-content: flex-end;
}
.checkout {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  background-color: var(--background-color);
  font-size: 1.3rem;
  padding: 0.25rem;
}
.price {
  display: flex;
  flex-direction: column;
}
.price > div {
  display: flex;
  flex-direction: row;
}
.orderSummary {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 2rem;
}
.orderSummary > span {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  font-weight: 500;
}
.orderSummary .total {
  border-top: 1px solid #ccc;
}
.orderSummary .total > div {
  font-size: 1.3rem;
  font-weight: 700;
}
.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.emptyCart > div {
  text-align: center;
  font-weight: bold;
  min-width: 200px;
}
.emptyCart h1 {
  color: #023047;
}
.cartIcon {
  font-size: 12rem;
  color: #023047;
  filter: drop-shadow(4px 5px 3px rgba(128, 128, 128, 0.5));
}
.saved {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 90%;
  background-color: transparent;
}
.saved > div:first-child {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
