@bgcolor: #023047;
@color: #ffb703;
.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: transparent;
  margin: 1rem 0;
}

@media only screen and (min-width: 1500px) {
  .page {
    width: 80vw;
  }
}
.content {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 90%;
  background-color: transparent;
}

.empty {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  height: 70vh;
}

.cart,
.orderSummary {
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-shadow: 0px 0px 10px 0px #ccc;
  background-color: white;
  > header {
    font-size: 1.3rem;
    font-weight: bold;
    color: @bgcolor;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #ccc;
  }
}
.cart {
  top: 16vh;
  max-height: 80vh;
  overflow-y: scroll;
  margin-bottom: 1rem;
}
.cart::-webkit-scrollbar {
  display: none;
}
.item {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  padding: 0.25rem;
  border-bottom: 1px solid #ccc;

  .product {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    height: 80%;
    padding: 0 1rem;
    > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
      margin-left: 1rem;
    }
  }
  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    height: fit-content;
    button {
      width: fit-content;
      padding: 0.5rem 0.75rem;
    }
    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-basis: 50%;
    }
    > div:nth-child(2) {
      justify-content: flex-end;
      // button {
      //   margin: 0 0.5rem;
      // }
    }
  }
}
.checkout {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  background-color: var(--background-color);
  font-size: 1.3rem;
  padding: 0.25rem;
  // button {
  //   height: 3rem;
  //   width: fit-content;
  //   padding: 8px;
  //   font-size: 1.3rem;
  // }
}
.price {
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    flex-direction: row;
  }
}
.orderSummary {
  display: flex;
  flex-direction: column;
  justify-content: left;
  // margin-left: 2rem;
  > span {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    font-weight: 500;
  }
  .total {
    border-top: 1px solid #ccc;
    > div {
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
}
.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 1.5rem 0;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  > div {
    text-align: center;
    font-weight: bold;
    min-width: 200px;
  }
  h1 {
    font-size: clamp(1.2rem, 6vw, 2rem);
    color: @bgcolor;
  }
}
.cartIcon {
  font-size: clamp(6rem, 12vw, 12rem);
  color: var(--background-color);
  filter: drop-shadow(4px 5px 3px fade(grey, 50%));
}

.saved {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 90%;
  background-color: transparent;
  > div:first-child {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .page {
    justify-content: center;
  }
  .content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  .cart,
  .orderSummary {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 95%;
    box-shadow: 0px 0px 10px 0px #ccc;
    background-color: white;
    > header {
      font-size: 1.3rem;
      font-weight: bold;
      color: @bgcolor;
      padding: 10px;
      background-color: white;
      border-bottom: 1px solid #ccc;
    }
  }
  .emptyCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 1rem 0;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    > div {
      text-align: center;
      font-weight: bold;
      min-width: 200px;
    }
    h1 {
      color: @bgcolor;
    }
  }
}
