.ProductNameUpdate {
  position: relative;
  display: grid;
  grid-template-columns: 15% 1fr;
  min-height: 95vh;
}
.workspace > div {
  margin: 20px;
}
.edit {
  display: inline-flex;
  flex-direction: row;
  justify-content: left;
}
.edit > div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: 100px;
}
.edit > div label {
  margin-bottom: 2px;
}
.edit > div form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.edit > div form label {
  width: 100px;
}
.edit > div form button {
  margin-left: 20px;
  margin-top: 20px;
}
.edit > div form > div {
  margin-right: 10px;
}
