.category {
  position: relative;
  display: grid;
  grid-template-columns: 15% 1fr;
  min-height: 95vh;
}
.workspace {
  display: flex;
  flex-direction: column;
}
.workspace > div {
  display: flex;
  margin: 10px;
  padding: 10px;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form > div {
  display: inline;
}
.form form {
  display: flex;
  flex-direction: row;
}
.form form button {
  margin-left: 20px;
}
.list {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.list > div {
  display: inline-flex;
  justify-content: left;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.list > div > div {
  width: 14% !important;
  margin: 10px;
}
.list > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
  min-width: 200px;
  background-color: #eee;
  margin: 20px;
  border-radius: 5px;
}
.list > div > div p {
  font-size: 18px;
}
.list > div > div button {
  margin: 10px;
  outline: none;
  border: none;
  color: red;
}
.list > div > div button:hover {
  color: orange;
}
.list > div > div a button {
  color: blue;
}
.list > div > div a button:hover {
  color: white;
}
