.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  height: auto;
  flex-grow: 1;
  background-color: transparent;
}

.arrivals,
.bestsellers {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px 0 #ccc;
  > header {
    font-weight: 500;
    font-size: 1.5rem;
    color: fade(black, 70%);
    background-color: white;
    padding: 0.4rem;
    border-bottom: 2px solid #ccc;
  }
}

@media only screen and (min-width: 1500px) {
  .arrivals,
  .bestsellers {
    width: 80%;
  }
}
