.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  height: fit-content;
  cursor: pointer;
  > div:nth-child(2) {
    display: flex;
    min-height: fit-content;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
  }
  &:hover {
    box-shadow: 0 0 4px 1px hsla(0, 0%, 0%, 0.4);
  }
}

.wishlist {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 1.4rem;
}
