.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  min-height: calc(100vh - 6rem);
  width: 100%;
  background-color: hsl(0, 0%, 99%);
}

@media only screen and (min-width: 1500px) {
  .product {
    width: 80vw;
    margin: 1rem 0;
    box-shadow: 0 0 5px 0 #ccc;
    background-color: white;
  }
}

.description {
  position: relative;
  display: grid;
  grid-template-columns: 40% 58%;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.carousel {
  position: relative;
  display: block;
  margin: 1rem;
  width: 100%;
  height: fit-content;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  img {
    width: 150px;
    height: 400px;
    transform: scaleX(0.5);
  }
}
.thumnail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  > img {
    height: 50px;
    width: 70px;
    cursor: pointer;
    margin: 10px;
  }
}
.profile {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  height: fit-content;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  > div {
    display: flex;
  }
}
.profile::-webkit-scrollbar {
  display: none;
}
.title {
  span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  > div {
    margin: auto 1rem auto auto;
    cursor: pointer;
    path {
      fill: 'red' !important;
    }
  }
}
.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  > span {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.price {
  padding: 4px 0;
  align-items: center;
  h2 {
    margin: 0;
  }
  > s {
    color: grey;
    margin-left: 5px;
  }
  > span {
    color: green;
    margin-left: 5px;
  }
}
.availability {
  span {
    font-size: 0.8rem;
    font-weight: bold;
  }
}
.color {
  align-items: center;
  padding: 5px 0;
  > div {
    padding: 5px;
  }
}
.buttons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.specifications {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin-top: 20px;
  > header {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  > button {
    padding: 10px;
    outline: none;
    border: none;
    color: blue;
  }
}
.color {
  display: flex;
  align-items: center;
  > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    > div {
      padding: 10px;
    }
  }
}
.expand {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #342ead;
}
.more {
  border-top: 1px solid #f1f1f1;
}

.data {
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    flex-direction: column;
    > div {
      display: grid;
      grid-template-columns: 40% 40%;
      span {
        padding: 8px;
      }
    }
    > div:first-child {
      padding: 8px;
      font-size: 1.2rem;
      color: grey;
      font-weight: 500;
      border-bottom: 1px solid #ccc;
    }
  }

  overflow-y: hidden;
  height: 300px;
}

.rating {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 1rem;
  > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    > header {
      font-size: 1.2rem;
      font-weight: bold;
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
  }
  > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
}
.backdrop {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: fade(black, 70%);
}
.ratingModal {
  z-index: 201;
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 300px;
  height: fit-content;
  padding: 1rem;
  background-color: fade(black, 90%);
  cursor: pointer;
  > h4 {
    color: white;
  }
  > div {
    margin-top: 2rem;
    > button {
      width: 80px;
      padding: 5px 16px;
      border: none;
      outline: none;
      margin: 0 10px;
    }
  }
}
.stars {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  > span {
    font-weight: 500;
    margin-right: 1rem;
    > span {
      margin-left: 1rem;
    }
  }
}

.relatedProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.products {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px 0 #ccc;
  > header {
    font-weight: 500;
    font-size: 1.5rem;
    color: fade(black, 70%);
    background-color: white;
    padding: 0.4rem;
    border-bottom: 2px solid #ccc;
  }
}

@media only screen and (min-width: 1500px) {
  .products {
    width: 80%;
  }
}
