.brandNavbar {
  position: sticky;
  top: 8vh;
  z-index: 99;
  display: flex;
  height: 5vh;
  width: 100%;
  justify-content: center;
  background-color: #ffb703;
}
@media only screen and (min-height: 768px) {
  .brandNavbar {
    top: 6vh;
    height: 4vh;
  }
}
.Menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.Menu .Submenu {
  padding: 0 2rem;
  color: #023047;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
