.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: transparent;
}
@media only screen and (min-width: 1500px) {
  .page {
    width: 80vw;
    margin: 1rem 0;
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: transparent;
}
.content h2,
.content h4 {
  color: bgcolor;
}
.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 85vh;
  background-color: #f1f1f1;
}
.payment h4 {
  color: #342ead;
  font-weight: bold;
  padding: 0.5rem;
}
.payment > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stripCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: fit-content;
}
