.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  background-color: hsl(0, 0%, 99%);
}
@media only screen and (min-width: 1500px) {
  .page {
    width: 80vw;
    margin: 1rem 0;
  }
}
.content,
.paymentSuccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  width: fit-content;
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--background-color);
}
.content h2,
.paymentSuccess h2,
.content h4,
.paymentSuccess h4,
.content p,
.paymentSuccess p {
  color: white;
}
.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}
.payment h4 {
  color: #342ead;
  font-weight: bold;
  padding: 0.5rem;
}
.payment > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stripCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 100%;
}
.demo {
  margin-top: 1rem;
}
.demo > p {
  font-weight: bold;
}
.paymentSuccess a {
  text-decoration: none;
  color: white;
}
.paymentSuccess a:hover {
  text-decoration: underline;
  color: white;
}
