.Usernav {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 50px;
  left: 0;
  bottom: 0;
}

.Usernav div:first-child {
  flex: 0.2;
  min-width: 250px;
  background-color: #ccc;
}

.updatePassword input{
    border-bottom: 1px #ccc solid;
}