.searchBar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  display: grid;
  grid-template-areas: 'home cart' 'form form';
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  background-color: var(--background-color);
  width: 100%;
  padding: 0 1rem;
}
.searchBar > form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.home {
  grid-area: home;
  font-size: clamp(1.4rem, 8vw, 1.9rem);
  font-weight: bold;
  text-align: center;
}
.home a {
  color: var(--white);
}
.cart {
  grid-area: cart;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.cart svg {
  color: var(--primary-color);
}
.form {
  grid-area: form;
  width: 100%;
}
@media (min-width: 768px) {
  .searchBar {
    display: none;
  }
}
