.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;
  background-color: transparent;
  margin: 1rem 0;
}
@media only screen and (min-width: 1500px) {
  .page {
    width: 80vw;
  }
}
.content {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 90%;
  background-color: transparent;
}
.form button {
  width: 100px;
}
.form label {
  font-size: 1rem;
  font-weight: 500;
}
.form form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.checkoutForm,
.orderSummary {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: fit-content;
  background-color: white;
}
.checkoutForm > header,
.orderSummary > header {
  font-size: 1.3rem;
  font-weight: bold;
  color: #023047;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}
.controls {
  display: flex;
}
.addressOptions {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.addressOptions > header {
  font-size: 1.3rem;
  font-weight: bold;
  color: #023047;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}
.addressOptions > div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.addressOptions > div > div {
  padding: 0.5rem;
}
.radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.radio > div {
  display: flex;
  flex-direction: row;
}
.radio > div span {
  margin: 0 1rem;
  cursor: pointer;
}
.orderSummary {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: 1rem;
}
.orderSummary > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
}
.orderSummary > div > div {
  color: #023047;
  font-weight: 500;
}
.orderSummary .total {
  border-top: 1px solid #ccc;
}
.orderSummary .total > div {
  font-size: 1.3rem;
  font-weight: 700;
}
