.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--background-color);
}
@media (min-width: 769px) {
  .menuIcon {
    display: none;
  }
}
.home {
  font-size: clamp(1.4rem, 8vw, 1.9rem);
  font-weight: bold;
  text-align: center;
  color: var(--white);
  a {
    font-size: inherit;
    color: var(--white);
  }
}
.search {
  width: 100%;
  padding: 0.5rem 0;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.authButtons {
  display: flex;
  flex-direction: row;
  button {
    width: fit-content;
    min-width: 80px;
    margin: 0.25rem 0.5rem;
  }
}
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  svg {
    color: var(--primary-color);
  }
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  width: 50px;
  .avatar {
    cursor: pointer;
    * {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
    }
  }
  svg {
    color: var(--primary-color);
  }
}
.cartCount {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  > div {
    position: absolute;
    top: -5px;
    right: -10px;
    bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    font-weight: bold;
    border: 1px solid #e6e6e6;
  }
}
@media (max-width: 768px) {
  .header {
    grid-template-areas:
      'home cart'
      'search search';
    grid-template-columns: 80% 20%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: var(--background-color);
  }
  .menuIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
  }
  .home {
    grid-area: home;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 0.5rem;
  }
  .cart {
    grid-area: cart;
  }
  .search {
    grid-area: search;
  }
  .authButtons {
    display: none;
  }
  .dropdown {
    display: none;
  }
}
