.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5em;
  background-color: var(--blue);
}
@media (min-width: 769px) {
  .menuIcon {
    display: none;
  }
}
.home {
  font-size: clamp(1.4rem, 8vw, 1.9rem);
  font-weight: bold;
  text-align: center;
  color: var(--mint);
}
.home a {
  font-size: inherit;
  color: var(--mint);
}
.logo {
  padding: 0.25rem;
}
.search {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.authButtons {
  display: flex;
  flex-direction: row;
}
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.cart svg {
  color: var(--mint);
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  width: 50px;
}
.dropdown .avatar {
  cursor: pointer;
}
.dropdown .avatar * {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.dropdown svg {
  color: var(--mint);
}
.cartCount {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.cartCount > div {
  position: absolute;
  top: -5px;
  right: -10px;
  bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  font-weight: bold;
  border: 1px solid #e6e6e6;
}
@media (max-width: 768px) {
  .header {
    grid-template-areas: 'home cart' 'search search';
    grid-template-columns: 80% 20%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8em;
    background-color: var(--blue);
  }
  .menuIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.5rem;
  }
  .home {
    grid-area: home;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 0.5rem;
  }
  .cart {
    grid-area: cart;
  }
  .search {
    grid-area: search;
  }
  .authButtons {
    display: none;
  }
  .dropdown {
    display: none;
  }
}
