.carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: white;
}
.carousel > div {
  display: flex;
  flex-direction: row;
}
.back,
.next {
  position: absolute;
  display: block;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.back {
  left: 0;
}
.back:hover {
  box-shadow: 0px 0 8px 0 #ccc;
}
.next {
  right: 0;
}
.next:hover {
  box-shadow: 0px 0 8px 0 #ccc;
}
.card {
  display: flex;
  width: fit-content;
  flex-direction: row;
  margin: 0.5rem 1rem;
}
