.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3s ease-in-out;
}
.menu {
  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.4s ease-in-out;
  background-color: var(--background-color);
}
.close {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
}
.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  border-top: 1px solid #ccc;
}
.authButtons {
  width: 100%;
  padding: 0.5rem;
}
.authButtons > * {
  text-align: center;
  width: 100%;
  height: fit-content;
  margin: 0.5rem 0;
  border-bottom: 1px solid #ccc;
  color: var(--background-color);
  background-color: white;
}
.backdrop {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(8px);
  transition: all 0.4s ease-in;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
}
.links > * {
  text-align: center;
  width: 100%;
  height: fit-content;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-bottom: 1px solid #ccc;
  color: var(--background-color);
  background-color: white;
}
@media (min-width: 768px) {
  .sidebar {
    display: none;
  }
}
