.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;
  background-color: white;
}
@media only screen and (min-width: 1500px) {
  .page {
    width: 80vw;
    margin: 1rem 0;
    box-shadow: 0 0 5px 0 #ccc;
  }
}
.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.content > div {
  padding: 10px;
}
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
