.ordersPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 85vh;
  background-color: #f1f1f1;
}
.orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 1rem;
}
.tableRow {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: 2px solid #f1f1f1;
  height: fit-content;
}
.tableRow > div:nth-child(2) {
  padding: 0.5rem;
  margin-left: auto;
  margin-right: 1rem;
  color: #342ead;
  font-weight: bold;
}
.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 100%;
}
.product > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 10%;
  height: 25vh;
}
.product > div:first-child {
  flex-direction: row;
}
.product > div:first-child > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
